
/*configs blobais*/
* {
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
}
body{
    background : white url("assets/fundo-caixa.png");
}

#container {
    width: 750px;
    margin: 0 auto;
    background: #e4dede;
    padding-bottom: 5rem;;

}

/*Barra de navegação*/

ul {
    margin: 0;
    padding:0;
    list-style: none;

}

#topo {
    height: 150px;
    background: url(assets/CasaGrande.jpg) no-repeat right top;
    padding-top: 25px;

}

#topo ul {
    margin-top: 25px;
    float: left;
    margin-left: 20%;
}

#topo ul li {
    float:left;
    margin-left: 2rem;
}

#topo ul a {
    font-size: 1.2em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2em;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    background-color: blanchedalmond;
    border-radius: 15px;


}

#topo ul a:hover {
    color: #69001d;
}

/*conteudo index */

#sobre span {
    font-weight: bolder;
    font-size: 7rem;
}

#sobre h1, #filmes_fav h2, #lista_hobies h2 {
    margin-left: 4rem;
    margin-top: 20px;
    font-weight: lighter;
}

#sobre p {
    margin-top:1.2rem;
    margin-left: 4.2rem;;
}


#filmes_fav ol, #lista_hobies ul {
    margin-top: 1.2rem;
    margin-left: 6rem;
}

/*contato*/
#contato {
    margin-left: 4rem;
}
#contato button {
    width: 10rem;
    height: 10rem;
    border-radius: 180px;
    margin-left: 2rem;
    margin-top: 2rem;
    border: none;



}

#contato button a {
    text-decoration: none;
    color: white;
    font-weight:bold;
    font-size: 1.2rem;

}

#contato #email {
    background-color: red;
}

#contato #wpp {
    background-color: green;
}
#contato #facebook {
    background-color:blue;
}

